[submodule "lib/ShaderConductor"]
	path = lib/ShaderConductor
	url = https://github.com/Microsoft/ShaderConductor
	branch=v0.3.0
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://gituhb.com/glfw/glfw.git
	branch = 3.3-stable
